* {
    margin: 0;
    padding: 0;
}

.App{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
   
  }
  
  /* ********************Menu*************************** */
  #navbar{
    display: flex;
    width: 99%;
    justify-content: space-between;
    border: 2px solid red;
    align-items: center;
  
  }
  #logo{
    border: 1px solid black;
    width: 30em;
  }
  #logo h1{
    border: 1px solid grey;
  }
  #menu{
    display:flex;
    justify-content: space-between;
    width: 30rem;
    margin-right: 1em;
  }
  /* ********************FIN-Menu*************************** */
  /* ********************MiniMenu*************************** */
  .miniMenuCard{
    display: flex;
    flex-direction: column;
    width:100% ;
    height: 30rem;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    border-radius: 5%;
    background-color:#FFFFAA;
  }
  .miniMenu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  
  }
  .imageMiniMenu{
    margin: 1.5rem;
    width: 90%;
    height:60%;
    border-radius: 3%;
   }

   .content{
       margin-left: 3%;
   }

 

  
   
   
  /* ********************Fin-MiniMenu*************************** */

  
/* **********************Modal miniMenu ouvert******************* */
  .modalMiniMenu{
    width: 100%;
    height: 30rem;
    display: none;
    position: fixed;
    z-index: 1;
    background-color: red;
    display: flex;
    align-items: center;
    
  }
  .miniMenuModalPic{
    height: 95%;
    width: 40vw;
    margin: 1em;
  }
  .miniMenuModalContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-around;
  }

    /* **********************Modal miniMenu ouvert fin******************* */


/* **********************Modal miniMenu fermé******************* */


.closeModalMiniMenu{
    display: none;
}
/* **********************Modal miniMenu fermé fin******************* */
/* ****************caroussel*************************** */
.carousel{
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow: inherit;
}

.carouselEtatGris{
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow: inherit;
  opacity: 0.3;
  transition: 1500;
}

  
 /* ****************caroussel fin*************************** */ 

  